<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="@Url.Content("~/node_modules/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" />
	<link href="@Url.Content("~/src/site.css")" rel="stylesheet" />
	@RenderSection("css", required: false)
</head>
<body class="@ViewBag.PageClass">
<header></header>
<main role="main" id="main">
	@RenderBody()
</main>
<footer></footer>
<script src="@Url.Content("~/content/common.js")" type="text/javascript"></script>
	@RenderSection("scripts", required: false)
<script type="text/javascript">
	window.__SystemError__ = "System error. Please, try later.";
	(function() {
		ko.validation.init({
			errorElementClass: "has-error",
			errorMessageClass: "help-block",
			decorateElement: true,
			insertMessages: false
		});
	})();
</script>
</body>
</html>
